body {
  background-color: yellowgreen;
  color: black;
  font-size: 25px;
  font-family: "Gemunu Libre", sans-serif;
}
.main-header {
  font-size: 150px;
  color: white;
  text-align: center;
  background-color: black;
  padding: 150px;
}
h2 {
  background-color: white;

  margin-top: 50px;
}
p {
  font-family: "Roboto", sans-serif;
  background-color: aqua;
}
.subheader1 {
  text-align: left;
  position: absolute;
  top: 507px;
  left: 92;
}
.subheader2 {
  position: absolute;
  top: 507px;
  left: 875px;
}
.subheader3 {
  text-align: right;
  position: absolute;
  top: 507px;
  right: 105px;
}
.p1 {
  margin-top: 150px;
  margin-left: 50px;
  padding: 50;
  text-align: center;

  width: 150px;
}
.p2 {
  margin-top: 150px;
  margin-left: 50px;
  padding: 50;
  text-align: center;
  width: 150px;
  position: absolute;
  left: 766px;
  top: 470px;
}
.p3 {
  margin-top: 150px;
  margin-left: 50px;
  padding: 50;
  width: 150px;
  position: absolute;
  right: 50px;
  top: 470px;
}
