body {
  background-color: yellowgreen;
  color: black;
  font-size: 25px;
  font-family: "Gemunu Libre", sans-serif;
}
.main-header {
  font-size: 150px;
  color: white;
  text-align: center;
  background-color: black;
  padding: 150px;
}
h2 {
  background-color: white;

  margin-top: 50px;
}
p {
  font-family: "Roboto", sans-serif;
  background-color: aqua;
}
.subheader1 {
  text-align: left;
  position: absolute;
  top: 507px;
  left: 92;
}
.subheader2 {
  position: absolute;
  top: 507px;
  left: 836px;
}
.subheader3 {
  text-align: right;
  position: absolute;
  top: 507px;
  right: 105px;
}
.p1 {
  margin-top: 150px;
  margin-left: 50px;
  padding: 50;
  text-align: center;
  width: 150px;
}
.p2 {
  margin-top: 150px;
  margin-left: 50px;
  padding: 50;
  text-align: center;
  width: 150px;
  position: absolute;
  left: 720px;
  top: 470px;
}
.p3 {
  margin-top: 150px;
  margin-left: 50px;
  text-align: center;
  padding: 50;
  width: 150px;
  position: absolute;
  right: 50px;
  top: 470px;
}
.pic2 {
  position: absolute;
  top: 1345px;
  left: 720px;
  height: 350px;
  width: 350px;
}
.pic1 {
  position: absolute;
  left: 50px;
  top: 1345px;
  height: 350px;
  width: 350px;
}
.pic3 {
  position: absolute;
  right: 50px;
  top: 1345px;
  height: 350px;
  width: 350px;
}
.link1 {
  position: absolute;
  left: 150px;
  top: 1300px;
}
.link2 {
  position: absolute;
  left: 856px;
  top: 1300px;
}
.link3 {
  position: absolute;
  left: 1654px;
  top: 1300px;
}
