body {
  background-color: yellowgreen;
  color: black;
  font-size: 25px;
  font-family: "Gemunu Libre", sans-serif;
}
.main-header {
  font-size: 100px;
  margin-top: 50px;
  color: white;
  text-align: center;
  background-color: black;
}
h2 {
  background-color: white;
  margin-top: 50px;
}
p {
  font-family: "Roboto", sans-serif;
  background-color: aqua;
}
.subheader1 {
  position: absolute;
  top: 129px;
  left: 50px;
}
.subheader2 {
  position: absolute;
  top: 129px;
  left: 734px;
}
.subheader3 {
  position: absolute;
  top: 129px;
  right: 50px;
}
